#container{
    display: flex;
    justify-content: space-between;
}
#container > div{
    margin:1vw;
}
#container > div:nth-child(2){
    border: 1px solid grey;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}